/* Modules for Presta default css */

#uninstall-popup .modal-content {
    border-radius: 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#uninstall-popup .modal-header {
    background-color: #dc3545;
    color: #fff;
    border-bottom: none;
}

#uninstall-popup .modal-footer {
    border-top: none;
}

#uninstall-popup .modal-footer button {
    border-radius: 0;
}

#uninstall-popup .modal-footer button.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

#uninstall-popup .modal-footer button.btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
}

/* -- Modules for Presta default css -- */

.mfp_license_manager {
    position: fixed;
    z-index: 1000;
    top:0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #000;
}
.mfp_license_manager--content {
    text-align: center;
    padding: 10px;
}
.mfp_license_manager--content p {
    margin-bottom: 0;
}